.vscode/**
scripts/**
eslint.config.mjs
**/*.ts
**/*.map
.gitignore
.npmrc
.github
*.vsix
**/tsconfig*.json
**/tsconfig*.tsbuildinfo
src/**
out/test/**
package-lock.json
node_modules/**
!out/extension.js
!out/mcdata.bundled.cjs
